button {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 100px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  outline: none;
  border: none; }

.view-button {
  width: 128px;
  height: 32px;
  background-color: #a88d7b;
  border-radius: 0;
  font-family: SourceSansPro;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  position: relative;
  bottom: 4rem;
  left: 31rem; }

.down-arrow {
  position: absolute;
  left: 50%;
  top: 83%;
  transform: translateX(-50%);
  padding-top: 2em;
  color: white;
  font-size: 25px;
  animation: down-arrow 1s ease infinite; }

@keyframes down-arrow {
  0% {
    padding-top: 1em; }
  50% {
    padding-top: 1.6em; }
  100% {
    padding-top: 1em; } }
.new {
  font-family: 'Source Sans Pro', sans-serif;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background-color: #a88d7b;
  text-transform: uppercase;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 12px;
  outline: none;
  right: 5px;
  top: 20px;
  position: absolute;
  margin: 0;
  border: none; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

header {
  text-align: center;
  background-image: linear-gradient(#2c2b2bac, #252525b4), url(../images/adult-backpack-city-845457.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

h1 {
  height: 38px;
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-align: center; }

h4 {
  width: 530px;
  height: 37px;
  font-family: Dosis;
  font-size: 48px;
  text-align: center;
  color: #ffffff; }

footer {
  width: 100%;
  height: 90px;
  background-color: #d7d7d7;
  margin-top: -13px;
  bottom: 0; }
  footer p {
    height: 14px;
    padding-top: 2.5rem;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #666666; }

article {
  text-align: center;
  margin: 0px auto;
  position: relative;
  overflow: hidden; }
  article h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #333333; }

article {
  text-align: center;
  margin: 0px auto;
  position: relative;
  overflow: hidden; }
  article h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #333333; }
  article p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #999999; }

#top {
  width: 100%;
  height: 53px;
  color: white;
  background-color: #2d2827;
  position: absolute;
  top: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.ship {
  width: 349px;
  height: 9px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  font-style: normal;
  margin-top: 5px;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999;
  white-space: nowrap; }

.fas .fa-angle-down {
  width: 7px;
  height: 5px;
  font-family: FontAwesome;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999; }

i {
  margin-left: 8px; }

#top span {
  padding: 5px;
  color: #999999;
  font-size: 12px; }

.icons {
  width: 297px;
  height: 15px;
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
  float: right; }

.navbar {
  margin: 0;
  padding: 0; }

.navbar ul {
  padding-top: 4rem;
  padding-left: 0; }

.navbar li {
  list-style: none;
  display: inline;
  padding: 15px; }

.navbar a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif; }

nav a:hover {
  color: yellow;
  transition: all 0.5s ease-in-out; }

.nateb {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: 6px;
  text-align: left;
  color: #fffefe; }

.search {
  width: 22px;
  height: 23px;
  font-family: Linearicons-Free;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.shop {
  color: white;
  width: 21px;
  height: 18px;
  font-family: FontAwesome;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.fashion-heading p {
  width: 924px;
  height: 39px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #e6e6e6;
  max-width: 800vw;
  margin: auto; }

.home {
  padding-left: 176px !important; }

.lookbook {
  padding-right: 176px !important; }

.featured-product {
  width: 100%;
  text-align: center;
  background-color: var(--white); }
  .featured-product h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    color: #333333; }

.main-title {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  color: #333333;
  position: relative; }

.main-title::before {
  content: "";
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  height: 2px;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  animation: move 1s ease-in-out; }

@keyframes move {
  from {
    width: 0; }
  to {
    width: 50px; } }
.main-title2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  color: #333333;
  position: relative; }

.main-title2::before {
  content: "";
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  height: 2px;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  animation: move 1s ease-in-out; }

.content4,
.content5 {
  margin: 0px auto;
  text-align: center; }
  .content4 h3,
  .content5 h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #333333; }

.featured-product-img {
  width: 370px;
  height: 360px; }

.new-collection {
  width: 100%;
  background-color: var(--white); }
  .new-collection h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    color: #333333; }

.new-collection-img {
  width: 570px;
  height: 373px; }

.parallax {
  width: 100%;
  height: 552px;
  opacity: 0.9;
  background-image: linear-gradient(#666666a5, #666666b1), url(../images/backpack-blur-city-1205379-min.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60rem;
  background-attachment: fixed;
  object-fit: contain; }
  .parallax p {
    width: 656px;
    padding-top: 10rem;
    height: 38px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-left: 240px;
    color: #ffffff; }

.jackie {
  width: 530px;
  height: 37px;
  font-family: 'Dosis', sans-serif;
  font-size: 48px;
  bottom: -13rem;
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-left: 300px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.5;
  letter-spacing: normal; }

.myblog {
  width: 100%;
  text-align: center;
  height: 671px;
  background-color: #f9f9f9; }
  .myblog h1 {
    color: black;
    text-align: center; }

.blog-name {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  color: #333333; }

.blog-img {
  width: 585px;
  height: 405px;
  background-color: #666666; }

.blogtext {
  width: 529px;
  height: 239px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-align: left;
  color: #666666; }
  .blogtext h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: #333333; }

.read-more {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-align: left;
  color: #a88d7b;
  list-style-type: none;
  display: inline; }
  .read-more .fa .fa-arrow-right {
    font-family: Linearicons-Free;
    font-size: 15px;
    text-align: left;
    color: #a88d7b; }
  .read-more .info {
    width: 100%;
    height: 425px; }
  .read-more .location {
    width: 60px;
    height: 21px;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #e5e5e5; }
  .read-more .offer,
  .read-more .unisex {
    width: 46px;
    height: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #e5e5e5; }
    .read-more .offer p,
    .read-more .unisex p {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 15px;
      text-align: left;
      color: #999999; }
  .read-more .insta-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff; }
  .read-more #top-about {
    width: 100%;
    height: 53px;
    color: white;
    background-color: #eeeeee;
    position: absolute;
    top: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .read-more .nav-container {
    width: 100%;
    height: 93px;
    background-color: #ffffff; }
  .read-more .nateb-about {
    width: 116px;
    height: 22px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: #000000; }
  .read-more .blog-img-about {
    width: 600px;
    height: 490px; }

.featured-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 71.375rem;
  grid-gap: 1rem; }

.new-collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  width: 71.375rem;
  grid-gap: 1rem; }

.parallax {
  display: grid;
  grid-template-columns: repeat(1fr);
  width: 100%; }

.myblog {
  display: grid;
  margin: 3rem;
  grid-template-columns: repeat(2, 1fr); }

.info {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 14px;
  background-color: #2d2827;
  color: white; }

.insta-grid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-row-gap: 1rem;
  text-align: center; }
  .insta-grid img {
    width: 80px;
    height: 80px;
    object-fit: cover; }

.navbar-about {
  display: grid;
  grid-template-columns: repeat(3, auto); }

/*# sourceMappingURL=main.css.map */
