button {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 70px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  outline: none;
  border: none; }

.down-arrow {
  position: absolute;
  left: 50%;
  top: 83%;
  transform: translateX(-50%);
  padding-top: 2em;
  color: white;
  font-size: 25px;
  animation: down-arrow 1s ease infinite; }

@keyframes down-arrow {
  0% {
    padding-top: 1em; }
  50% {
    padding-top: 1.6em; }
  100% {
    padding-top: 1em; } }
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

header {
  text-align: center;
  background-image: linear-gradient(#66666688, #66666688), url(../images/streetwear-3749344_1920.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 42rem; }

h1 {
  height: 38px;
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-align: center;
  margin-top: 7rem; }

#top {
  width: 100%;
  height: 53px;
  color: white;
  background-color: #2d2827;
  position: absolute;
  top: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.ship {
  width: 349px;
  height: 9px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  font-style: normal;
  margin-top: 5px;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999;
  white-space: nowrap; }

.fas .fa-angle-down {
  width: 7px;
  height: 5px;
  font-family: FontAwesome;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999; }

i {
  margin-left: 8px; }

#top span {
  padding: 5px;
  color: #999999;
  font-size: 12px; }

.icons {
  width: 297px;
  height: 15px;
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
  float: right; }

.navbar {
  margin: 0;
  padding: 0; }

.navbar ul {
  padding-top: 4rem;
  padding-left: 0; }

.navbar li {
  list-style: none;
  display: inline;
  padding: 15px; }

.navbar a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif; }

.nateb {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: 6px;
  text-align: left;
  color: #fffefe; }

.search {
  width: 22px;
  height: 23px;
  font-family: Linearicons-Free;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.shop {
  color: white;
  width: 21px;
  height: 18px;
  font-family: FontAwesome;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.headermessage p {
  width: 924px;
  height: 39px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #e6e6e6;
  max-width: 800vw;
  margin-left: 10rem; }

.home {
  padding-left: 176px !important; }

.lookbook {
  padding-right: 176px !important; }

.featured-product {
  width: 80%;
  height: 704px;
  background-color: var(--white); }
  .featured-product h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333; }

.main-title {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #333333; }

.content,
.content2,
.content3 {
  text-align: center; }

.product1 img {
  width: 18rem;
  height: 18rem; }

.product2 img {
  width: 18rem;
  height: 18rem; }

.product3 img {
  width: 18rem;
  height: 18rem; }

.new-collection {
  width: 100%;
  height: 704px;
  background-color: var(--white); }
  .new-collection h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333; }

.new {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 70px;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background-color: #a88d7b;
  text-transform: uppercase;
  color: white;
  transform: translate(456%, -1746%);
  font-size: 12px;
  outline: none;
  border: none; }

.featured-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 56rem;
  grid-gap: 1rem; }

.new-collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  height: 100%;
  grid-gap: 30px; }

/*# sourceMappingURL=main.css.map */
