button {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 70px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #a88d7b;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    outline: none;
    border: none;
}

.down-arrow {
    position: absolute;
    left: 50%;
    top: 83%;
    transform: translateX(-50%);
    padding-top: 2em;
    color: white;
    font-size: 25px;
    animation: down-arrow 1s ease infinite;
  }
  
  @keyframes down-arrow {
    0% {padding-top:1em;}
    50% {padding-top:1.6em;}
    100%{padding-top: 1em;}
  }
  