// Lookbook button
.lookbook-button {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 100px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #a88d7b;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    outline: none;
    border: none;
}

//down arrow properties with animation
.down-arrow {
    position: absolute;
    left: 50%;
    top: 83%;
    transform: translateX(-50%);
    padding-top: 2em;
    color: white;
    font-size: 25px;
    animation: down-arrow 1s ease infinite;
  }

  @keyframes down-arrow {
    0% {padding-top:1em;}
    50% {padding-top:1.6em;}
    100%{padding-top: 1em;}
  }

    //button2 for black cap advertisement
.new {
  font-family: 'Source Sans Pro', sans-serif;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background-color: #a88d7b;
  text-transform: uppercase;
  color: white;
  transform: translate(-50%, 50%);
  font-size: 12px;
  outline: none;
  right: -330px;
  top: -355px;
  position: relative;
  margin: 0;
  border: none;
} 

.view-button {
  width: 128px;
  height: 32px;
  background-color: #a88d7b;
  border-radius: 0;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  border: none;
  bottom: 2rem;
  position: relative;
  bottom: 1rem !important;
  left: 31rem;
  transition: all 0.5s ease-in-out;
}

.view-button:hover {
width: 138px;
}



.read-more {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-align: left;
  color: #a88d7b;
  list-style-type: none;
  display: inline;
  

  .fa .fa-arrow-right {
    font-size: 15px;
    text-align: left;
    color: #a88d7b;
}
}



  
