
// Topnav
#top {
    color: #ffffff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 53px;
    background-color: #2d2827
}

body {
  margin: 0;
}
// En and Zar properties
#top span {
    padding: 5px;
    color: #999999;
    font-size: 12px;
}

// icons property
i {
    margin-left: 8px;
}

// En and Zar properties
.fas .fa-angle-down {
    width: 7px;
    height: 5px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
  }
  

.ship {
    width: 349px;
    height: 9px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    font-style: normal;
    margin-top: 5px;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2.4px;
    text-align: left;
    color: #999999;
    white-space: nowrap;
  }

//right side icons properties
.icons {
    width: 297px;
    height: 15px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    float: right
  }

// navbar properties start
.navbar {
    margin: 0;
    padding: 0;
   }
   
.navbar ul {
  margin-top: 0;
    padding-top: 4rem; 
    padding-left: 0;
   }
   
   
.navbar li {
     list-style: none;
     display: inline;
     padding: 15px;
   }
   
.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
   }
   
.navbar a:hover {
    font-size: 20px;
    color: rgb(184, 165, 165);
    transition: all 0.5s ease-in-out;
    font-weight: bolder;
    transition-timing-function: linear;
    transition-duration: 1s;
   }
// navbar properties end

// styling of the nateb logo
.nateb {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 6px;
    text-align: left;
    color: #fffefe;
  }

// search item on the left side in the ul
  .search {
    width: 22px;
    height: 23px;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
  }

// shop item on the right side in the ul
  .shop {
    color: white;
    width: 21px;
    height: 18px;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
  }

  .home {
    padding-left: 176px !important;
  }
  
  .lookbook {
    padding-right: 176px !important;
  }

//   heading and paragraph of header
  .fashion-heading  {
    h1 {
    height: 38px;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    color: $main-heading;
    text-align: center;  
    } 
      p {
        width: 924px;
        height: 39px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: center;
        color: $main-paragraph;
        max-width: 800vw;
        margin: auto;
      }
  }

  // start of the featured product
  // container
  #featured-product-container {
    height: 704px;
    background-color: var(--white);
    width: 100%;
    
  }

// heading featured product
  .main-title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    color: $main-title;
    margin: 60px auto 92px;
    position: relative;
}
// border-bottom for featured product with animations
.main-title::before {
  content: "";
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  height: 2px;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  animation: move 1s ease-in-out;
} 

@keyframes move {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

// img of the featured-product
.featured-product-img {
  width: 370px;
  height: 360px;
}

.featured-product-img:hover {
  color: white;
  box-shadow: 7px 6px 7px black, -4px -3px 9px black;
  opacity: 1;
  transition: box-shadow 0.2s ease-out;
}

.blue-jacket {

  h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }

    p {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 3.2;
      letter-spacing: normal;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      color: #999999;

    }
}

.black-cap {
  h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin-top: 0;
  }

    p {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 3.2;
      letter-spacing: normal;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      color: #999999;

    }
}

.blue-jean-jacket {
  h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }

    p {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 3.2;
      letter-spacing: normal;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      color: #999999;

    }
}

// New collection
#new-collection-container {
  height: 704px;
  width: 100%;
}

.main-title2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;;
  color: $main-title;
  position: relative;
}

.main-title2::before{
  content: "";
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  height: 2px;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  animation: move 1s ease-in-out;
}

.new-collection-img {
  width: 570px;
  height: 373px;
}

.new-collection-img:hover {
  color: white;
  box-shadow: 7px 6px 7px black, -4px -3px 9px black;
  opacity: 1;
  transition: box-shadow 0.2s ease-out;
}

// new collection men picture
.men h5 {
  font-family: 'Source Sans Pro';
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.92;
  letter-spacing: 2.5px;
  text-align: center;
  color: #a88d7b;
}

// new collection woman picture
.woman h5 {
  font-family: 'Source Sans Pro';
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.92;
  letter-spacing: 2.5px;
  text-align: center;
  color: #a88d7b;
}

.parallax {
  width: 100%;
  height: 552px;
  opacity: 0.9;
  background-image: linear-gradient(#666666a5, #666666b1), url(../images/backpack-blur-city-1205379-min.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60rem;
  background-attachment: fixed;
  object-fit: contain;

  p {
    width: 656px;
    padding-top: 10rem;
    height: 38px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-left: 240px;
    color: #ffffff;
  }
  
}

.jackie {
  width: 530px;
  height: 37px;
  font-family: 'Dosis', sans-serif;
  font-size: 48px;
  bottom: -13rem;
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-left: 300px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.5;
  letter-spacing: normal;
}

// blog
#myblog-container {
    height: 704px;
    width: 100%;
}

.blog-name {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  color: #333333;
  position: relative;
}

.blog-name::before {
  content: "";
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  height: 2px;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
} 

.blog-index-img {
  width: 585px;
  height: 405px;
  background-color: #666666;
  object-fit: cover;
}

.blogtext {
  width: 529px;
  height: 239px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-align: left;
  color: #666666;
  padding-left: 2rem;

  h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: #333333;
  }
}


.info {
  width: 100%;
  height: 425px;
  background-color: #2d2827;
  color: white;
}

.full-location {
  h2 {
  font-family:'Dosis';
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #e5e5e5;

    .fas, .fa {
      margin-right: 0.8rem;
    }
}

p {
  height: 18px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}
}

.full-offer p,
.full-unisex p {
  height: 11px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}


.myheadings {
  width: 91px;
  height: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #e5e5e5;
}


// _______________End of homepage____________________________


// __________________Start of about page_____________________

// top of the about page
#top-about {
  color: white;
  background-color: #eeeeee;
  position: absolute;
  top: 0;
  width: 100%;
  height: 53px;
}

// En and Zar properties
#top-about {
  span {
  padding: 5px;
  color: #999999;
  font-size: 12px;

  }
    
  i {
    color: #999999;
  }
}

// En and Zar properties
.fas .fa-angle-down {
  width: 7px;
  height: 5px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
}

.ship-about {
  width: 349px;
  height: 9px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  font-style: normal;
  margin-top: 5px;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999;
  white-space: nowrap;
}
//right side icons properties
.icons-about {
  width: 297px;
  height: 15px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
  float: right
}
// end of top of the about page


// navbar of the about page
.navbar-about {
  background-color: #ffffff;
}

   
.navbar-about ul {
  padding-top: 4rem; 
  padding-left: 0;
 }
 
 
.navbar-about li {
   list-style: none;
   display: inline;
   padding: 15px;
 }
 
.navbar-about a {
  text-decoration: none;
  color: #666666;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
 }
 
.navbar-about a:hover {
  font-size: 20px;
  color: rgb(184, 165, 165);
  transition: all 0.5s ease-in-out;
  font-weight: bolder;
  transition-timing-function: linear;
  transition-duration: 1s;
 }

 .search-about {
  width: 19px;
  height: 19px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #666666;
 }

 .shop-about {
  width: 19px;
  height: 19px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #666666;
 }
// navbar properties end

#about{
  width: 100%;
  height: 445px;
  background-color: #666666;
  // background-image: none;
}

//   heading and paragraph of header
.fashion-heading-about  {
  h1 {
    height: 35px;
    font-family: 'Source Sans Pro';
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
    margin-top: 109px;
  } 
    p {

  
  font-family: 'SourceSansPro';
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #cccccc;
  margin-top: 52px;
    }
}



// about who we are
#who-we-are-container {
  height: 704px;
  width: 100%;
}

.who-we-are-img {
  width: 600px;
  height: 490px;
background-color: #666666;
object-fit: cover;

}

.who-we-are-text {
width: 529px;
height: 239px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 15px;
text-align: left;
color: #666666;
// padding-left: 2rem;

h4 {
 
  height: 32px;
  font-family: 'SourceSansPro';
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  position: relative;
}
h4::before {
  content: "";
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  height: 2px;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #a88d7b;

} 
}



// end of about page who we are

// start meet the team

.meet-the-team-container {
  height: 721px;
  background-color: $main-heading;
}

.meet-the-team-title {
  height: 42px;
  font-family: 'Source Sans Pro';
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin: 0px auto 92px;
  position: relative;
}

.meet-the-team-title::before {
  content: "";
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  height: 2px;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
} 

.meet-the-team-img {
  width: 270px;
  height: 305px;
  object-fit: cover;
}

.Nashville,
.Justin,
.Ebraheem,
.Marlon {

  h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }

    p {
      height: 14px;
      font-family: 'Source Sans Pro';
      font-size: 15px;
      @include sizing;
      line-height: 1.47;
      text-align: center;
      color: #999999;

    }

    i {
      height: 13px;
      font-size: 15px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.47;
      letter-spacing: normal;
      text-align: center;
      color: #555555;
    }
}

// end of about page meet the team

// start of the what we do on about 

#what-we-do-container {
  height: 590px;
  width: 100%;
  background-color: #ffffff;
}

.what-we-do-text {
  h4 {
    font-family: 'Source Sans Pro';
    font-size: 36px;
    @include sizing;
    text-align: center;
    color: #333333;
    position: relative;

    
  }
  p {
    font-family: 'Source Sans Pro';
    font-size: 15px;
    @include sizing;
    line-height: 1.67;
    text-align: left;
    color: #666666;
  }
}

.what-we-do-text h4::before {
  content: "";
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  height: 2px;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
} 

.what-we-do-img {
  width: 600px;
  height: 490px;
  object-fit: cover;
}

// end of what we do


// start of contact page
.contact-container {
  height: 33vh;
}

.the-adress {
  width: 390px;
  height: 200px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
  text-align: center;

  .fa-map-marker-alt {
    height: 37px;
    font-size: 36px;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.58;
    letter-spacing: normal;
    text-align: center;
    color: #090803;
  }

    h3 {
    
    height: 23px;
    font-family: 'Source Sans Pro';
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
    color: #333333;
    }

    p {
   
    height: 16px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    }
}



.the-contact {
  width: 390px;
  height: 200px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
  text-align: center;

  p {
   
    
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 46px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    }
  
}

.the-opening-hours {
  width: 390px;
  height: 200px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
  text-align: center;

  h3 {
    
    height: 23px;
    font-family: 'Source Sans Pro';
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
    color: #333333;
    }

  p {
   
    height: 16px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    }
}

.shift {
  margin-top: 40px;
}


.shift2 {
  margin-top: 52px;
  
}




.border {
  width: 390px;
  margin-top: 39px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
}

// form

.form-container {
  height: 600px;
  width: 100%;
}

.my-form {
width: 71.375rem;
margin: auto;
// margin-top: -1565px;

}

.username input {
  width: 570px;
  margin-top: 60px;
  height: 50px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.phone-number input {
  width: 570px;
  height: 50px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  margin-bottom: 30px;
}

textarea  {
  width: 1170px;
  height: 150px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
}

input::placeholder {
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
  padding-left: 9px;
}

textarea::placeholder {
  padding: 5px;
  width: 68px;
  height: 11px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
}

.email input   {
  width: 570px;
  height: 50px;
  margin-top: 60px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  margin-bottom: 30px;
  position: absolute;
  left: 707px;

}

.subject input   {
  width: 570px;
  position: absolute;
  left: 707px;
  height: 50px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  margin-bottom: 30px;

}

.btn {
  width: 155px;
  height: 40px;
  background-color: #ac907f;
  margin-top:39px; 
  margin-bottom: 100px;

}

// _______blog page_________

.blog-page-container {
  height: 928px;
  background-color: #ffffff;
  padding-bottom: 100px;
  margin-bottom: 118px;
}

.whole-blog {
  h3 {
    height: 14px;
  font-family: 'Source Sans Pro';
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  }

  p {
  
  height: 14px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-style: normal;
  text-align: left;
  color: #999999;
  }
}

.blog-img {
  width: 370px;
  height: 225px;
  background-color: #666666;
  margin-top: 60px;
  object-fit: cover;
}

.blog-p {
  height: 39px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  margin-top: 43px;
}

.read-more-blog {
  height: 11px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  margin-top: 111px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;

  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #706259;
}

.info-blog {
  height: 68px;
  background: white;
  
    }

  .blog-icons {
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
  }

  .blog {
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
  }

  // ____Lookbook________

.lookbook-container {
    padding: 20px;
}

// lookbook images properties
.lookbook img {
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

// images hover
.lookbook img:hover {
    color: white;
    box-shadow: 7px 6px 7px black, -8px -3px 9px black;
    opacity: 1;
    transition: box-shadow 0.2s ease-out;
}

// few images of the lookbook
.glasses {
  grid-column: span 2;
}

.happy {
  grid-column: span 2;
}
.grey {
  grid-column: span 2;
}

// end of the lookbook

// ___________________shop____

.container {
  height: 1610px;
  background-color: #f5f5f5;
}

.shop-section h1:nth-child(1) {
  font-family: 'Source Sans Pro';
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: left;
  margin-top: 0px;
  color: #333333;
}

.shop-section p:nth-child(2) {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.shop-section :nth-child(3) {
  margin-bottom: 47px;
  height: 64px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

.shop-section .lnr-heart {
  padding-left: 360px;
  width: 21px;
  height: 18px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
}

.image1 {
  width: 300px;
  height: 300px;
  background-color: #666666;
  margin-left: 174px;
  margin-bottom: 50px;
}

// hover on add and remove from cart
.add-to-cart {
  height: 44px;
  background-color:#ac907f;
  border: none;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  transition: all 0.9s;
}

.add-to-cart:hover {
  background-color:#ce9c7d;
}

.remove-from-cart {
  height: 44px;
  background-color:#ac907f;
  border: none;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  transition: all 0.9s;
}

.remove-from-cart:hover {
  background-color:#ce9c7d;
}


.well {
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}

.next-page {
 float: right;
 margin-right: 8rem;

  li {
    display: inline;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    padding: 0 15px;
  }

   a {
    color: #666666;
    text-decoration: none;
    transition: all 0.5s;
   }

   a:hover {
    color: #4e4545;
   }
  //  shows on which page i am
  a.active {
    color: dodgerblue;
  }
}

// .shop-section {
//   position: relative;
// }


// .fa-shopping-cart {
//   position: absolute;
//   display: none;
//   top: -10px;
//   left: -10px;
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
//   background: red;
//   color: white;
//   text-align: center;
// }


hr {
  width: 370px;
  background-color: #ebebeb;
}
