// .navbar {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
// }

.featured-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 56rem;
    grid-gap: 1rem;
}

// New collection grids

.new-collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    // margin-left: 11.5rem;
    width: 56rem;
    grid-gap: 1rem;
}






    

