/* Media Queries -------------------- */


// How to Use CSS to Resize Your (Foreground) Images While Preserving Their Aspect Ratio
// The simplest and most painless way to quickly get all your existing foreground pictures to fit a mobile screen is to resize them with CSS. This can easily be done with the following rules.


/* Responsive Design */

    /* Mobile Devices */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 767px) {
//         .header {
//             width: 100vw;
//             height: 100vh;
//           }
          
// .navbar a {
//     display: block;
  
//   }

// ________start of featured product___
.featured-product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;   

    grid-template-areas:
        "h2" 
        "jacket"
        "cap"
        "bjacket";
}


.main-title {
    grid-area: h2;
    text-align: center;
    width: 89vw;
    font-size: 21px;
    margin: 20px 0;
}

.blue-jacket {
    grid-area: jacket;
    text-align: center;
    // width: 92vw;
    width: 100vw;
}

.blue-jacket h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    color: #333333;
}

.blue-jacket p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    font-size: 15px;
    font-weight: 600;
    text-align: none;
    color: #999999;
}

// .blue-jacket p {
//     text-align: center;
//     width: 89vw;
//     font-size: 21px;
// }



.black-cap {
    grid-area: cap;
    text-align: center;
    width: 106vw;
}

.black-cap h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    color: #333333;
}

.black-cap p {
    text-align: center;
    width: 89vw;
    font-size: 21px;
}

.blue-jean-jacket {
    grid-area: bjacket;
    text-align: center;
    width: 92vw;
}
.blue-jean-jacket p {
    text-align: center;
    width: 89vw;
    font-size: 21px;
}

.featured-product-img {
    width: 265px;
    height: 240px;
}


// _______end of the featured product____

.new-collection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    grid-gap: 1rem;
    grid-template-areas: 
        "title2"
        "men"
        "woman";
}

.new-collection-img {
    width: 265px;
    height: 240px;
}


.main-title2 {
    grid-area: title2;
    text-align: center;
    width: 89vw;
    font-size: 21px;
    padding-top: 621px;
}

.men {
    grid-area: men;
    text-align: center;
    // width: 89vw;
    width: 100vw;

}

.woman {
    grid-area: woman;
    text-align: center;
    // width: 90vw;
    width: 100vw;
}

.main-title2 {
    font-size: 20px;
    // padding-top: 677px;
    padding-top: 594px;
}


.myblog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 71.375rem;
    margin: auto;
}

.parallax {
    width: 265px;
    height: 240px;
    text-align: center;
    width: 92vw;
    // margin-top: 500px;
    
}

.parallax p {
    height: 38px;
    width: 291px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    // padding: 0;
    // text-align: center;
    // margin-left: 13vw;
    // // margin-top: 104px;
    // margin-top: 67px;
    // color: #ffffff;
    // width: 89vw;
    text-align: center;
    width: 100vw;
    font-size: 12px;
    margin-left: 0vw;
    margin-top: -83px;
}

.jackie {
    margin-bottom: 67px;
    margin-left: -96px;
    margin-top: -193px;
    font-size: 31px;
    
   
}

.blog-index-img {
    width: 265px;
    height: 240px;
    text-align: center;
    width: 92vw;
}

.blog-name {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
    position: relative;
    width: 89vw;
    font-size: 21px !important;
    
}

.blog-text h4 {
    text-align: center;
    // width: 89vw;
    font-size: 21px;
    text-align: center;
    width: 92vw;
}

.blog-text{
    text-align: center;
    width: 89vw;
    font-size: 21px;
    padding-left: 0;
    
}

.parallax {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 791px;
}








  
  }

  /* Responsive Design */
    /*Tablets*/
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1023px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        .featured-product {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin: auto;   
            width: 71.375rem;
            grid-gap: 1rem;
            grid-template-areas: 
                "title"
                "bluej"
                "cap"
                "bjj";
            
        }

        .main-title {
            grid-area: title;
        }

        .blue-jacket {
            grid-area: bluej;
        }

        .blue-cap {
            grid-area: cap;
        }
        .blue-jean-jacket {
            grid-area: bjj;
        }

        // ____end of featured product___


        // start of new-collection

        .featured-product {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin: auto;   
            width: 71.375rem;
            grid-gap: 1rem;
            grid-template-areas: 
                "title"
                "bluej"
                "cap"
                "bjj";

            // .main

      
 }
    }

 /* Responsive Design
    /*Desktop*/
 @media screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
        .full-container {
            width: 100vw;
            max-width: 100vw;
        }
 }